<div style="float: right; margin-left: 10px; color: pink;">
    The Artificial Neural Networks course-Workshop1-Python
</div>

Python Quickstart

In [1]:
print("Hello, World!")

Hello, World!

Creating a Comment

In [2]:
#This is a comment
print("Hello, World!")

Hello, World!

Python Variables

In [4]:
x = 5
y = "John"
print(type(x))
print(y)

<class 'int'>
John

In [1]:
#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
#Illegal variable names:

""""2myvar = "John"
my-var = "John"
my var = "John"
"""

In [9]:
#x, y, z = "Orange", "Banana", "Cherry"
x = y = z = "Orange"
print("x,y,z",x,y,z)

x,y,z Orange Orange Orange

<div style="float: right; margin-left: 10px; color: blue;">
    Exercise1: Create a variable named carname and assign the value Volvo to it.
</div>

In [10]:
carname="Volvo"
print(carname)

Volvo

Getting the Data Type

In [15]:
x = 2
print(type(x))

<class 'str'>

Python Casting

In [17]:
"""x = int(1)   # x will be 1
y = int(2.8) # y will be 2
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
x = str("s1") # x will be 's1'"""
y = str(2)    # y will be '2'
print(type(y))

<class 'str'>

Strings

In [19]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.""" 
print(a)

sara

b = "Hello, World!"
print(b[2:5])

In [23]:

"""a = "Hello, World!"
print(a.upper()

a = "Hello, World!"
print(a.lower())"""

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!

Hello, World!

In [25]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello+World

In [35]:
txt = "We are the so-called \n Vikings\" from the north."
print(txt)

We are the so-called '
\ Vikings" from the north.

<div style="float: right; margin-left: 10px; color: blue;">
    Exercise2: Use the len method to print the length of the string.
</div>

In [34]:
x="hello niloufar"
print(len(x))

14

Boolean Values

In [37]:
"""print(10 > 9)
print(10 == 9)"""
print(10 < 9)

False

Python Operators

In [41]:
print(100/2)

50.0

Python Lists

In [46]:
thislist = ["apple", "banana", "cherry"]
print(thislist[0])
print(thislist[:2])

apple
['apple', 'banana']

thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

In [47]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [48]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [49]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [50]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [52]:
thislist = ["100", "50", "65", "82", "23"]
thislist.sort()
print(thislist)

['100', '23', '50', '65', '82']

In [53]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [54]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [56]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

<div style="float: right; margin-left: 10px; color: blue;">
    Exercise3: Print the second item in the fruits list.
</div>

In [3]:
fruits = ["apple", "banana", "cherry"]
print(fruits)
fruits.append('pineapple')
print(fruits)
fruits.remove('apple')
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'pineapple']
['banana', 'cherry', 'pineapple']

<div style="float: right; margin-left: 10px; color: red;">
    Hint: becareful about using Set, Tuple and List properly
</div>

Python Dictionaries

In [4]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [7]:
x = thisdict.get("year")
x

1964

In [9]:
x = thisdict.keys()
x

dict_keys(['brand', 'model', 'year'])

In [10]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})

In [11]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [12]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

<div style="float: right; margin-left: 10px; color: blue;">
    Exercise4: Use the get method to print the value of the "model" key of the car dictionary.
</div>

In [13]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.get("model")
print(x)

Mustang

Python If ... Else

In [17]:
a = 33
b = 30
if b > a:
  print("b is greater than a",b+a)
  
elif a == b:
  print("a and b are equal",a*b)

else:
  print("a is greater than b",b/a)

a is greater than b 0.9090909090909091

Python While Loops

In [19]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  #print(i)
print(i)

6

Python For Loops

In [21]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [23]:
for i in range(10):
    i +=1
print(i)

10

Python Functions

In [24]:
def my_function(name):
  print("Hello :",name)

my_function('sara')

Hello : sara

Python Classes and Objects

In [27]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
    
  def addition(self):
    print(self.age+1)
    
p1 = Person("John", 36)

print(p1.addition())
print(p1.age)

37
None
36